@font-face{
    font-family: 'CooperHewitt-Book';
    src: url("../fonts/CooperHewitt-Book.otf");
}

@font-face{
    font-family: 'CooperHewitt-Medium';
    src: url("../fonts/CooperHewitt-Medium.otf");
}

@font-face{
    font-family: 'CooperHewitt-Semibold';
    src: url("../fonts/CooperHewitt-Semibold.otf");
}

body{
    background-color: #aed0e5;
}

.top_bar{
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #63b8ec;
    border-bottom: 0.25em solid #47b5eb;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a{
    font-family: 'CooperHewitt-Medium', sans-serif;
    font-size: 20px;
    top: 4px;
    left: 30px;
    margin: 3px 0 0 10px;
    position: relative;
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    text-decoration: none;
}

nav{
    top: 4px;
    float: right;
    right:  40px;
    position: absolute;
}

nav a{
    position: relative;
    margin: 3px 0 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    color: #375a92;
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column{
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}

.user_details{
    width: 320px;
    float: left;
    margin-bottom: 20px;
}

.user_details_text{
    padding: 10px;
    width: 180px;
    display: inline;
    position: absolute;
}

.user_details img{
    width: 125px;
    height: 125px;
    border-radius: 10px;
    margin-right: 5px;
}